/* Base styles */
body {
    font-family: monospace,sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header styles */
header {
    color: #e3e3ff;
    padding: 20px 20px 0 20px ;
    background-image: url(https://media.licdn.com/dms/image/D5616AQEEJJVKaXk4Fg/profile-displaybackgroundimage-shrink_350_1400/0/1696891874021?e=1702512000&v=beta&t=3UYABq7YqMxsXjUTFCuYDCzdq7NwChU_dZVkSnbyTpU);
    background-size: cover;
}

/* Logo styles */

.logo h1 {
    font-size: 4rem;
    display: inline;
    vertical-align: middle;
}

.logo X,Y{
    display: inline;
    font-size: 4rem;
    color: #fbc94f;
}

.logo img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: inline;
    margin: 10px;
    
    vertical-align: middle;
    border: 5px solid rgba(195, 195, 195, 0.44);

}

/* Navigation menu styles */
.nav-menu {
    background-color: #1e1d1d76;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 0px;
}

.nav-links {
    list-style-type: none;
    padding: 10px;
    text-align: right;
}

.nav-links li {
    display: inline;
    margin-left: 20px;
}

.nav-links a {
    text-decoration:none;
    color: #e3e3ff;
    font-weight: bold;
    transition: color 0.3s ease, background-color 0.3s ease;
    padding: 10px;
    border-radius: 5px;
    
}

.active, .nav-links a:hover {
    color: #fff;
    background-color: #cd8e3693;
    border-radius: 5px;
}

.active{
    color: #fff;
    background-color: #cd8e36;
    border-radius: 5px;
}


/* Content section styles */
.content-section {
    background-image: url('content-bg.jpg');
    background-size: cover;
    color: #f39f28;
    text-align: center;
    padding: 50px 0;
    margin-bottom: 30px;
}



.content-section h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.content-section p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #555;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}


/* Responsive styles */
@media (max-width: 768px) {

    .logo{
        text-align: center;
    }
    .logo h1{
        font-size: 3rem;
        text-align: center;
        display: block;
    }
    .logo X,Y{
        display: none;
    }

    .nav-links {
        text-align: center;
        margin-top: 10px; /* Add space above navigation links */
    }

    .nav-links li {
        display: block;
        margin: 25px 0;
    }

    .content-section h1 {
        font-size: 2rem; /* Adjust font size for smaller screens */
    }

    .content-section p {
        font-size: 1rem; /* Adjust font size for smaller screens */
    }

}
